html
  head
    meta(charset='utf-8')
    title Sabrina Ateliê - Vestidos
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    #navbar
      img(src='../images/Logo.jpg')
      a(href='endcont.html') Endereço e Contatos
      a(href='index.html') Home
    .principal
      h1 Selecione o tipo de vestido que deseja ver:
      a(href='vestidosLongos.html')
        button Vestidos longos
        br
      a(href='vestidosCurtos.html')
        button Vestidos curtos
