extends layout

block content
  
 html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title moskzoess

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .centro
      h1.title Zona dos moskzoess
      .links
        a(href='mensagens/index') Ver textos/mensagens
        a(href='mensagens/create') Criar mensagens
 




