html, body {
  height: 100%;
  width: 100%;
  background-color: #6e0c6e;
  font-family:'Times New Roman', Times, serif;
}
.centro{
  position: relative;
  top: 30%;
  margin: auto;
  align-items: center;
  width: 88%;
  text-align: center;
  background-color: #8e7a99;
  border: 4px #8e7a99 solid;
  border-radius: 2%;
}
.inicio{
  color:white;
  font-family: 'Rubik', sans-serif;
  font-size: 2.9em;
  margin-top: 2%;
  margin-left: 2%;
}
.inicio:hover{
  color: black;
}
.links{
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}
a{
  text-decoration: none;
  color: purple;
}

a:hover{
  color:white;
}
.title{
  color: white;
  animation: pisca 5s infinite;
}

@keyframes pisca{
  20%{
    font-size: 1.5em;
  }
  50%{
    font-size: 1.9em;
  }
  70%{
    font-size: 2em;
  }
  100%{
    font-size: 1.5em;
  }
}

.tabela{
  margin: auto;
  padding: 2%;
  background-color: #8e7a99;
  border: 8px #8e7a99 solid;
  color: white;
}

.mensagem{
  margin: auto;
  padding: 2%;
  background-color: #8e7a99;
  border: 5px white solid;
  color: white;
  text-align: center;
  align-items: center;
  border-radius: 4%;
  width: 80%;
  margin-top: 10%;
  word-break: normal;
  word-wrap: normal !important;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&family=Permanent+Marker&family=Rubik&display=swap');
.mensagem>h2{
  color: white;
  margin-top: 4%;
  border-bottom: 2px white solid;
  position: relative;
  font-family: 'Rubik', sans-serif;
}

.mensagem>h3{
  word-break: normal;
  color: #6e0c6e;
  
  font-family: 'Josefin Sans', sans-serif;
}
 .ma{
   color: green;
 }

.md{
  color: red;
}

.criar{
  margin: auto;
  padding: 2%;
  background-color: #8e7a99;
  border: 5px white solid;
  color: purple;
  text-align: center;
  border-radius: 4%;
  width: 80%;
  margin-top: 20%;
}

.escrito{
  position:relative;
  width: 100% !important;
  margin-bottom: 3%;
}